<div class="container mt-5">

  <%= render "public/users/infomation", user: @user %>

<div class="mt-5 text-center">
  <h2>フォローリスト</h2>
</div>

  <div class="row justify-content-center">
    <div class="col-lg-9">
      <table class="table mt-5">
        <thead>
          <tr>
            <th>ユーザーネーム</th>
            <th>作品数</th>
            <th> </th>
          </tr>
        </thead>
          <% if @users.exists? %>
            <% @users.each do |user| %>
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(user.id) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td>
                <%= user.novels.count %>
              </td>
              <td class="ajax_follow_<%= user.id %>">
                <%= render "public/relationships/follow", user: user  %>
              </td>
            </tr>
          </tbody>

            <% end %>
          <% else %>
            <div class="mt-5 text-center">
              <h3>ユーザーはいません</h3>
            </div>
          <% end %>
      </table>
    </div>
  </div>
</div>
