<div class="mt-5 text-center">
  <h1>Once-Novel</h1>
</div>
<div class="container text-center mt-5">
  <p>短編小説向けの投稿サイトです。</p>
  <p>タイトルの『once: いつか、一度』通り、<br>
  <b>『一度、投稿したシナリオのアイディアが、いつか長編小説を執筆する時に役立てるかも』</b><br>
  <b>『短編小説だから、一度の時間で読み切れる』</b><br>
  をコンセプトに考えました。
  </p>
  <small>&#8251;架空のポートフォリオサイトです</pmall>

<div class="container mt-5">
  <div class="row d-flex d-wrap justify-content-around">


      <%= link_to novels_path do %>
        <div class="col top-contents">今すぐ読む</div>
      <% end %>

      <% if user_signed_in? %>

        <%= link_to new_novel_path do %>
          <div class="col top-contents">今すぐ書く</div>
        <% end %>

        <%= link_to user_path(current_user) do %>
          <div class="col top-contents">マイページへ</div>
        <% end %>

      <% end %>


      <% unless user_signed_in? %>

        <%= link_to  new_user_registration_path do %>
          <div class="col top-contents">アカウントを作る</div>
        <% end %>

        <%= link_to new_user_session_path do %>
          <div class="col top-contents">ログインして<br>執筆する</div>
        <% end %>

      <% end %>

  </div>
</div>