
<div class="container-flid mt-5">
  <div class="row">
    <div id="sidebar" class="col-lg-2 text-center">

      <h2>ジャンル一覧</h2>
        <% @genres.each do |genre| %>

      <li class="my-2 "><%= link_to genre.genre,novels_path(genre_id: genre.id) %></li>
        <% end %>
    </div>




<div class="col">

<h2><%= @index %>一覧</h2>

    <table class="table">
      <thead>
        <tr>
          <th>作品名</th>
          <th>ログライン</th>
          <th>ジャンル</th>
          <th>作家名</th>
        </tr>
      </thead>

      <% @novels.each do |novel| %>

      <tbody>
        <tr>
          <td class="col-lg-4">
            <%= link_to novel_path(novel.id) do %>
              <%= novel.title %>
            <% end %>
          </td>
          <td class="col-lg-4"><%= novel.logline %></td>
          <td class="col-lg-2-3">
            <% novel.genres.each do |genre| %>
              <%= genre.genre %>
            <% end %>
          </td>
          <td class="col-lg-3">
            <%= link_to user_path(novel.user.id) do %>
              <%= novel.user.name %>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>

    </table>

    </div>
  </div>
  <%= paginate @novels %>
</div>