
<div class="container-flid mt-5">
  <div class="row">
    <div id="sidebar" class="col-lg-2 text-center">

      <h2>ジャンル一覧</h2>
        <% @genres.each do |genre| %>

      <li class="my-2 "><%= link_to genre.genre,novels_path(genre_id: genre.id) %></li>
        <% end %>
    </div>

<div class="col">

<h2><%= @index %>一覧</h2>

    <table class="table text-left">
      <thead>
        <tr>
          <th>作品名</th>
          <th>ログライン</th>
          <th>ジャンル</th>
          <th>作家名</th>
        </tr>
      </thead>

      <% @novels.each do |novel| %>

<!--退会したユーザーの作品を自動的に非公開にする-->
       <% if novel.user.is_deleted == true %>
          <% else %>

              <tbody>
                <tr>
                  <td class="col-lg-2">
                    <%= link_to novel_path(novel.id) do %>
                      <%= novel.title %><br>
                      ステータス<%= novel.novel_status %>
                    <% end %>
                  </td>
                  <td class="col-lg-5"><%= novel.logline %></td>
                  <td class="col-lg-2">
                    <% novel.genres.each do |genre| %>
                      <%= genre.genre %>
                    <% end %>
                  </td>
                  <td class="col-lg-3">
                    <%= link_to user_path(novel.user.id) do %>
                      <%= novel.user.name %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
          <% end %>

      <% end %>

    </table>

    </div>
  </div>
  <%= paginate @novels %>
</div>