<div class="container-fluid mt-5">

  <div class="row">
    <div id="sidebar" class="col-lg-2 text-center">
        <%= render "public/novels/genre", genres: @genres %>
    </div>

    <div class="col">

      <h2 class="ml-5"><%= @index %>一覧</h2>


    <!--ソート機能-->
      <div class="text-right ">
        <%= link_to "新着順",novels_path(sort_order: :new) %>
        <%= link_to "古い順",novels_path(sort_order: :old) %>
        <%#= link_to "pv数順",novels_path(sort_order: :pv_count) %>
        <%= link_to "感想数順",novels_path(sort_order: :comment_count) %>
      </div>


          <% @novels.each do |novel| %>

    <!--退会したユーザーの作品を自動的に非公開にする-->
            <% if novel.user.is_deleted == true %>
            <% else %>

            <div class="row mx-4 py-3 border-bottom border-info border-top">
              <div class="col-lg-8">
                  <h4>
                    <%= link_to novel_path(novel.id) do %>
                      <%= novel.title %><br>
                    <% end %>
                  </h4>
                  <p class="mt-4">ログライン:<br><%= novel.logline %></p>
              </div>

                  <div class="col">
                    <p>
                      作者:
                      <%= link_to user_path(novel.user.id) do %>
                        <%= novel.user.name %>
                      <% end %>
                    </p>

                    <p>
                      <% novel.genres.each do |genre| %>
                        ジャンル: <%= genre.genre %>
                      <% end %>
                    </p>
                    <p>感想数: <%= novel.reviews.count %></p>
                    <p>PV数: <%= novel.impressionist_count(:filter=>:session_hash) %></p>
                    <p>作成日: <%= novel.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                  </div>

            </div>
            <% end %>
          <% end %>
        </div>
    </div>
  <%= paginate @novels %>
</div>