<h2>ジャンル一覧</h2>
  <% @genres.each do |genres| %>
    <li><%= genres.genre %></li>
  <% end %>


管理者側で追加したジャンルを、novelに紐づけて保存する
しかし、paramsには、id情報しかなく、文字列が出てこない。
これはどうすれば解決するだろうか。

現在、ジャンルがnovelを持っている状態になっている。
しかし、逆にすると、管理者側で追加できなくなってしまう。

novelが、既存のジャンルを持つようにするにはどうすればいいのか

中間テーブルを新たに作るしかない？





<h2> novel一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>作品名</th>
      <th>ログライン</th>
      <th>ジャンル</th>
      <th>作家名</th>
      </tr>
  </thead>

<% @novels.each do |novel| %>

<tr>
<tbody>
<td>  <%= link_to novel_path(novel.id) do %>
    <%= novel.title %>
  <% end %>
</td>
  <td><%= novel.logline %></td>
  <td><%= novel.genre_id %></td>
  <td>
    <%= link_to user_path(novel.user.id) do %>
      <%= novel.user.name %>
    <% end %>
  </td>
</tr>
</tbody>
<% end %>

</table>