<div class="text-center mt-5">
  <h2>新規作成</h2>
</div>


<div class="container mt-4">
  <div class="row justify-content-center">

    <%= form_with model: @write do |f| %>

      <%= render partial: 'layouts/error_messages', locals: {model: @write} %>

  <h5>タイトル(2～50文字)</h5>
  <%= f.text_field :title, size: 100, class: 'form-control' %>

<!--カラムに登録してある値のジャンルを選択-->

<h5>ジャンルの選択</h5>

<!--ジャンルをselect boxで選ぶ-->
<%= f.collection_select :genre_id, Genre.all, :id, :genre %>







<h5>ログライン(10～100文字)</h5>
<%= f.text_area :logline, size: "100x2" ,class: "form-control"%>

<h5>前書き(0～300)</h5>
<%= f.text_area :foreword, size: "100x5" ,class: "form-control"%>

<h5>本文(10～6000)</h5>
<%= f.text_area :body, size: "100x50",class: "form-control" %>

<h5>後書き(0~300)</h5>
<%= f.text_area :afterword, size: "100x5",class: "form-control" %>



<!--公開・非公開を選ぶ-->
      　<%= f.label :novel_status, "公開範囲を選択" %><br>
      　<%= f.select :novel_status,[["公開","公開"],["非公開","非公開"],["下書き保存","下書き保存"]]  %>



<%= f.submit "投稿する" %>
<% end %>

</div>
</div>