<div class="mt-5 text-center">
  <h2>【<%= link_to "#{@novel.title}", novel_path(@novel.id) %>】の感想一覧</h2>
    <p><%= link_to "感想数：#{@novel.reviews.count}", novel_reviews_path(@novel.id) %></p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">

    <% if user_signed_in? %>
      <!--感想記入-->
      <%= form_with model: @review, url: novel_reviews_path, method: :post do |f| %>
        <%= f.label :comment,"感想を書く(2文字以上)" %><br>
        <%= f.text_area :comment, autofocus: true, size: "50x5",id: "js_review", class: "form-control", placeholder: "感想を記入" %>
        <%= f.submit "投稿", class: "btn btn-success mt-3" %>
      <% end %>
    <% else %>
      <div class="text-center my-3">
        <%= link_to "ログイン", new_user_session_path %>
        して感想を書く
      </div>
    <% end %>

        <!--コメント一覧-->
        <h3 class="text-center mt-3">感想一覧</h3>
        <div class="col my-4" id="new_review">

        <!--collectionの省略記法　小ワザ-->
        <%= render  @novel.reviews %>


        </div>
    </div>
  </div>
</div>


<!--コメントは非同期にすると、逆に使い勝手悪いように感じるので、せっかく実装したけど、今回は使わないでおく-->
<!--通信を非同期化するために　form with local: false　　　remote: trueじゃない-->

<!--コントローラに処理を渡す　→　jsで動かすので 　create.js.erb　を用意する。-->
<!--create.js.erb、追加する　append--> <!-- html 置き換える-->

<!--画面の内容を変えたい場所にidを付ける-->
<!--今回は一覧を変えたいので、一覧にIDをつけた id="new_review"-->