<div class="mt-5 text-center">
  <h2>検索結果</h2>
</div>

<div class="container-fulid">
  <div class="row justify-content-center">
    <div class="col-lg-10">

        <table class="table table-hover table-inverse">
          <!--検索対象モデルがUserの時 -->
          <% if @range == "User" %>
            <thead>
              <tr>
                <th>ユーザーネーム</th>
                <th>自己紹介</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= link_to user_path(user.id) do %>
                      <%= user.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= user.infomation %>
                  </td>

                </tr>
              <% end %>
            </tbody>

          <% else %>

            <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
            <thead>
              <tr>
                <th class="col-lg-2">作家名</th>
                <th class="col-lg-4">作品名</th>
                <th class="col-lg-4">ログライン</th>
                <th class="col-lg-3">ジャンル</th>
              </tr>
            </thead>
            <tbody>
              <% @novels.each do |novel| %>
                <tr>
                  <td>
                    <%= link_to user_path(novel.user.id) do %>
                      <%= novel.user.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to novel_path(novel.id) do %>
                      <%= novel.title %>
                    <% end %>
                  </td>
                  <td><%= novel.logline %></td>
                  <td>
                    <% novel.genres.each do |genre| %>
                      <%= genre.genre %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          <% end %>
        </table>

    </div>
  </div>
</div>