<div class="container-fluid text-center mt-5">
  <div class="row justify-content-center">
    <table class="table col-lg-8">
      <tr>
      　<td>
          <small>ユーザーネーム</small><br>
            <%= @user.name %>
          </td>

        <td>
           <% if current_user == @user %>
             &nbsp; <%= link_to edit_user_path ,class: "btn btn-info" do %>
             <i class="fas fa-user-cog"></i>ユーザー編集
             <% end %>
           <% else %>
            <!--フォローボタン-->
            <%= render "public/relationships/follow", user: @user %>
          <% end %>
        </Td>

        <td>
          <%= link_to user_followslist_path(@user) ,class: "btn btn-primary" do %>
           <i class="fas fa-arrow-right"></i><i class="fas fa-user-friends"></i>フォローリスト
          <% end %>
        </td>
      </tr>

     <tr>
       <td>
         <small>自己紹介</small><br><%= @user.infomation %>
       </td>
       <td>
         <%= link_to user_bookmarkslist_path(@user), class: "btn btn-light" do %>
           <i class="fas fa-bookmark"></i>ブックマークリスト
         <% end %>
       </td>
       <td>
         <%= link_to user_followerslist_path(@user),class: "btn btn-success" do %>
           <i class="fas fa-arrow-left"></i><i class="fas fa-user-friends"></i>フォロワーリスト
         <% end %>
       </td>
     </tr>
    </table>
  </div>

  <div class="container-fulid mt-4">
    <div class="row justify-content-center">
      <h3>
        投稿一覧

        <!--非公開一覧を表示-->
        <% if current_user == @user %>
          | <%#= link_to "非公開の作品を確認", @novels.novel.find(novel_status: 1),novels_path(novel_status: 1) %>
          <%= link_to "非公開の作品を確認"%>
        <% end %>
      </h3>

      <table class="table text-left">
        <thead>
          <tr>
            <th>作品名</th>
            <th>ログライン</th>
            <th>ジャンル</th>
            <th>感想数</th>
          </tr>
        </thead>
        <tbody>

        <% @novels.each do |novel| %>
          <tr>
            <td class="col-lg-4"><%= link_to "#{novel.title}",novel_path(novel.id) %></td>
            <td class="col-lg-5"><%= novel.logline %></td>
            <td class="col-lg-2">
              <% novel.genres.each do |genre| %>
                <%= genre.genre %>
              <% end %>
            </td>
            <td class="col-lg-1"><%= novel.reviews.count %></td>
          </tr>
        <% end %>

        </tbody>
      </table>
    </div>
</div>