<div class="container text-center mt-5">
  <% if @user.is_deleted %>
  　<p>このユーザーは退会済みです</p>
  <% else %>
    

      <%= render "public/users/infomation", user: @user %>

    

    <div class="container-fulid mt-4">
      <div class="row justify-content-center">
        <h3>

                                                <!--enumで、0 = "novel_public"-->
          <%= link_to "投稿一覧", user_path(novel_status: "novel_public") %>

          <!--非公開一覧を表示-->
          <% if current_user == @user %>
                                                              <!--enumで1 = "novel_public"-->
            | <%= link_to "非公開の作品を確認",user_path(novel_status: "novel_private") %>
          <% end %>
        </h3>
        
        <table class="table text-left">
          <thead>
            <tr>
              <th>作品名</th>
              <th>ログライン</th>
              <th>ジャンル</th>
              <th>感想数</th>
            </tr>
          </thead>
          <tbody>

          <% @novels.each do |novel| %>
            <tr>
              <td class="col-lg-4">
                <%= link_to "#{novel.title}",novel_path(novel.id) %>
              </td>

              <td class="col-lg-5"><%= novel.logline %></td>
              <td class="col-lg-2">
                <% novel.genres.each do |genre| %>
                  <%= genre.genre %>
                <% end %>
              </td>
              <td class="col-lg-1"><%= novel.reviews.count %></td>
            </tr>
          <% end %>

          </tbody>
        </table>
      </div>

    </div>
  <% end %>
</div>