<!DOCTYPE html>
<html>
  <head>
    <title>OnceNovel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="d-flex">
      <nav class="navbar navbar-light bg-light w-100 ">

        <%= link_to root_path do %>
          <img src="" width="160px" height="70px">
        <% end %>

        <% if request.fullpath.include? "/admin" %>
          <% if admin_signed_in? %>
            <li>
              <%= link_to "ユーザー" %>
            </li>
            <li>
              <%= link_to "ジャンル", admin_genres_path%>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path %>
            </li>
            <li>
              <%= link_to "About" %>
            </li>
          <% end %>
        <% else %>
          <% if user_signed_in? %>
            <li>
              ユーザー名:<%= link_to user_path(current_user) do %>
                <%= current_user.name %>
              <% end %>でログイン中
            </li>
            <li>
              <%= link_to "執筆する"%>
            </li>
            <li>
              <%= link_to "作品を読む"%>
            </li>
            <li>
              <%= link_to "ブックマーク"%>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path %>
            </li>
            <li>
              <%= link_to "作品を読む" %>
            </li>
            <li>
              <%= link_to "About" %>
            </li>
          <% end %>
        <% end %>

          <li>検索欄</li>


        </nav>
      </header>


    <%= yield %>
  </body>
</html>
